<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _("Notes") }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/icon.png') }}"/>
    <style>
        .language-selector {
            position: absolute;
            top: 10px;
            right: 20px;
        }
        .language-btn {
            margin-left: 5px;
        }
    </style>
</head>
<body class="grey lighten-4">
<div class="language-selector">
    <a class="btn-small blue language-btn" href="#" onclick="setLanguage('en')">EN</a>
    <a class="btn-small red language-btn" href="#" onclick="setLanguage('ru')">RU</a>
</div>

<div class="container mt-5">
    <h3 class="center-align">{{ _("Notes") }}: {{ notes_count }}</h3>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
            <span class="card-title">
                {{ _("Enter the text of the note, a secret phrase and select a picture to upload (optional)") }}
            </span>
                    <form id="noteForm" method="post" enctype="multipart/form-data">
                        <div class="input-field">
                            <input type="text" id="secretPhrase" name="secret">
                            <label for="secretPhrase">{{ _("Enter secret phrase") }}</label>
                        </div>
                        <div class="input-field">
                            <textarea class="materialize-textarea" id="noteText" name="text" rows="4"></textarea>
                            <label for="noteText">{{ _("Enter the text of the note") }}</label>
                        </div>
                        <div class="file-field input-field">
                            <div class="waves-effect waves-light btn-small">
                                <span>{{ _("File") }}</span>
                                <input type="file" id="noteImage" name="image">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"
                                       placeholder="{{ _('Select a picture (optional)') }}">
                            </div>
                        </div>
                        <span class="card-title">{{ _("Lifetime note") }}</span>
                        <div class="row">
                            <div class="input-field col s4">
                                <input type="number" id="lifetimeHours" name="lifetime_hours" min="0" value="0">
                                <label for="lifetimeHours">{{ _("Hours") }}</label>
                            </div>
                            <div class="input-field col s4">
                                <input type="number" id="lifetimeMinutes" name="lifetime_minutes" min="0" max="59"
                                       value="0">
                                <label for="lifetimeMinutes">{{ _("Minutes") }}</label>
                            </div>
                            <div class="input-field col s4">
                                <input type="number" id="lifetimeSeconds" name="lifetime_seconds" min="0" max="59"
                                       value="0">
                                <label for="lifetimeSeconds">{{ _("Seconds") }}</label>
                            </div>
                        </div>
                        <p>
                            <label>
                                <input type="checkbox" id="ephemeral" name="is_ephemeral"/>
                                <span>{{ _("Ephemeral letter") }}</span>
                            </label>
                        </p>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit">{{ _("Send") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ _("Enter the note ID and secret phrase") }}</span>
                    <form id="getNoteForm">
                        <div class="input-field">
                            <input type="text" id="noteId" name="note_id">
                            <label for="noteId">{{ _("Enter note ID") }}</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="getSecretPhrase" name="note_secret">
                            <label for="getSecretPhrase">{{ _("Enter secret phrase") }}</label>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit">{{ _("Receive") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function setLanguage(lang) {
        document.cookie = `locale=${lang};path=/;max-age=31536000`;
        window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
    });

    document.getElementById('noteForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = document.getElementById('noteForm');
        const formData = new FormData(form);

        const hours = parseInt(document.getElementById('lifetimeHours').value) || 0;
        const minutes = parseInt(document.getElementById('lifetimeMinutes').value) || 0;
        const seconds = parseInt(document.getElementById('lifetimeSeconds').value) || 0;
        const secondsInHour = 3600;
        const secondsInMinute = 60;
        const totalSeconds = hours * secondsInHour + minutes * secondsInMinute + seconds;

        if (document.getElementById('ephemeral').checked && totalSeconds > 0) {
            alert("{{ _('You cannot set a lifetime for an ephemeral message') }}");
            return;
        }

        fetch('/api/v1/notes/create_note', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.detail || 'Error creating note');
                    });
                }
                return response.json();
            })
            .then(data => {
                if (data.response === "ok") {
                    document.location.href = "/api/v1/notes/result/" + data.note_id;
                } else if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });

        form.reset();
    });

    document.getElementById('getNoteForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const noteId = document.getElementById('noteId').value;
        const getSecretPhrase = document.getElementById('getSecretPhrase').value;
        const formData = new FormData();
        formData.append("note_id", noteId);
        formData.append("note_secret", getSecretPhrase);

        fetch('/api/v1/notes/get_note', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log("Received response:", data);
                if (data.response === "ok") {
                    let redirectUrl = "/api/v1/notes/note_page/" + encodeURIComponent(data.note_final_text);
                    if (data.note_image) {
                        redirectUrl += "?note_image=" + encodeURIComponent(data.note_image);
                    }
                    window.location.href = redirectUrl;
                } else {
                    alert(data.note_final_text || "An error occurred");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred while processing your request.");
            });
    });
</script>
</body>
</html>